#main {
  margin: 0 5%;
  min-height: 100vh;
}

#header {
  text-align: center;
  padding: 5% 0;
}

#header h1 {
  text-transform: uppercase;
  margin: 0;
}

@media only screen and (min-width: 600px) {
  #main {
    margin: 0 10%;
  }
}

@media only screen and (min-width: 900px) {
  #main {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 1200px) {
  
}

@media only screen and (min-width: 1800px) {

}